<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <AssemblyName>{{packageName}}</AssemblyName>
    <PackageId>{{packageName}}</PackageId>
    <OutputType>Library</OutputType>
    <Authors>{{packageAuthors}}</Authors>
    <Company>{{packageCompany}}</Company>
    <AssemblyTitle>{{packageTitle}}</AssemblyTitle>
    <Description>{{packageDescription}}</Description>
    <Copyright>{{packageCopyright}}</Copyright>
    <GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>
    <AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
    <GenerateBindingRedirectsOutputType>true</GenerateBindingRedirectsOutputType>
    <RootNamespace>{{packageName}}</RootNamespace>
    <Version>{{packageVersion}}</Version>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="RestSharp" Version="106.6.9" />
    <PackageReference Include="Newtonsoft.Json" Version="12.0.2" />
    <PackageReference Include="JsonSubTypes" Version="1.5.2" />
    <PackageReference Include="System.ComponentModel.Annotations" Version="4.3.0" />
    <PackageReference Include="Microsoft.CSharp" Version="4.5.0" />
  </ItemGroup>

  <ItemGroup>
    <AssemblyAttribute Include="System.Runtime.CompilerServices.InternalsVisibleTo">
      <_Parameter1>$(AssemblyName).Test</_Parameter1>
    </AssemblyAttribute>
    <AssemblyAttribute Include="System.Runtime.CompilerServices.InternalsVisibleTo">
      <_Parameter1>$(AssemblyName).UnitTests</_Parameter1>
    </AssemblyAttribute>
  </ItemGroup>

</Project>